@font-face {
    font-family: "Hind-Regular";
    src: url("../fonts/Hind-Regular.ttf") format("woff")
}

* {
    font-family: Hind-Regular;
    color: #fff;
}

body {
    width: 960px;
    margin: auto;
    background-color: #050505;
}

.fondetoile {
    width: 960px;
    height: 110px;
    object-fit: cover;
}

.fondetoileswlogo {
    width: 150px;
}

.banniere {
    height: 110px;
    width: 960px;
    position: absolute;
    top: 15px;
}

.banniereimg {
    width: 150px;
    margin: auto;
}

.fondetoileswlogo {
    width: 150px;
}

aside {
    width: 60px;
    padding-right: 30px;
    position: sticky;
    top: 30px;
}

.imgreseaux {
    width: 60px;
    margin-top: 20px;
}

.imgreseaux:hover{
    filter: drop-shadow(10px 10px 10px #1F35FF) invert(100%);
}



p {
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    color: #FFE81F;
    font-family: 'Montserrat', sans-serif;
}

.pageflex {
    display: flex;
}



/*Menu déroulant*/
nav {
    width: auto;
    background-color: #000;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

nav>ul {
    padding-inline-start: 0px;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-decoration: none;
    color: #747474;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-weight: bolder;
}

nav a:hover {
    color: #fff;
    border-bottom: 2px solid #FFE81F;
}

.sous {
    display: none;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
    padding-inline-start: 0px;
}

nav>ul li:hover .sous {
    display: flex;
    flex-flow: column wrap;
}

.sous li {
    flex: 1 1 auto;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
    color: #747474;
    font-weight: lighter;
}

.sous a:hover {
    color: #fff;
    border-bottom: 2px solid #FFE81F;
}

/*Fin menu déroulant*/


.chgmttlangue{
    position: absolute;
    display: flex;
    margin-left: 796px;
    z-index: 50;
}

.imglangues{
    margin-left: 5px;
}



.sommaire {
    background-color: #343434;
    display: inline-block;
    padding: 0 16px 0 16px;
    border-radius: 5px;
}

.tabinfos {
    display: flex;
}

.tabficheinfos {
    max-width: 302px;
    background-color: #272727;
    border-collapse: collapse;
    border-radius: 5px;
}

.tabficheinfos td{
    padding: 0px 5px 0px 5px;
    vertical-align:top;
}

.tabficheinfosimg {
    text-align: center;
}

.tabficheinfos p {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: #FFE81F;
}

.gauchetabinfos {
    margin-right: 20px;
}



.imgaffiches {
    width: 300px;
    height: auto;
}

.persogauche {
    float: left;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #343434;
    border-radius: 5px;
}

.persogauche p {
    margin: 0px;
}

.imgperso {
    width: 250px;
    height: auto;
}



.acteurs {
    width: auto;
    height: 140px;
}

.lucasdroite {
    margin-left: 10px;
    margin-bottom: 10px;
    border: 10px;
    background-color: #343434;
    float: right;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.lucasdroite p {
    margin: 5px;
}

.glucas {
    width: 150px;
    height: auto;
}


/*tableau acteurs*/

.tabacteurs {
    display: flex;
    justify-content: space-evenly;
}

.tabacteurs figure{
    width: 140px;
    margin: 0px;
}

/*fin tableau acteurs*/


.tabboxoff {
    border-collapse: collapse;
    margin: auto;
}

.tabboxoff td {
    border-collapse: collapse;
    border: 1px solid #333;
    padding: 10px;
}

.tabboxoff th {
    padding: 10px;
}

.tabboxoff thead,
.tabboxoff tfoot {
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
    padding: 10px;
}



/* footer */
.sitesfooter {
    display: flex;
    justify-content: center;
}

.iconessitefooter {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    margin-top: 50px;
    padding-top: 80px;
    height: auto;
    background-image: url("../images/vaderfooter.png");
    background-position-x: 50%;
    background-position-y: 15%;
    background-size: 70%;
    background-repeat: no-repeat;
}

footer li {
    font-size: 12px;
    color: #6c6255;
    list-style-type: none;
}

footer ul {
    padding-left: 20px;
}

footer a {
    color: #6c6255;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #fff;
}

footer p {
    color: #6c6255;
    font-size: 12px;
    text-align: center;
    padding-top: 100px;
}

.liensfooter {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/*fin du footer */

