{% extends "base.twig" %}

{% block main %}


<div>

    <article>


        <h1>Dans une galaxie lointaine, très lointaine...</h1>

        <p>Ce site propose trois catégories et présente les 5 meilleures films, séries ou jeux vidéos de l'univers Star
            Wars selon mes goûts personnels.</p>

        <img class="imgindex" src="images/imgindex.png" alt="" />

        <p>Star Wars ([à l'origine nommée sous son titre français, La Guerre des étoiles) est un univers de
            science-fiction créé par George Lucas. D'abord conçue comme une trilogie cinématographique sortie entre 1977
            et 1983, la saga s'accroît ensuite, entre 1999 et 2005, de trois nouveaux films, qui racontent des
            événements antérieurs à la première trilogie. Cette dernière (épisodes IV, V et VI) ainsi que la deuxième
            trilogie dite « Prélogie » (épisodes I, II et III) connaissent un immense succès commercial et un accueil
            critique généralement positif. Dans un souci de cohérence, et pour atteindre un résultat qu'il n'avait pas
            pu obtenir dès le départ, le créateur de la saga retravaille également les films de sa première trilogie,
            ressortis en 1997 et 2004 dans de nouvelles versions.</p>

    </article>

</div>



</section>
</main>


{% endblock main %}